# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/
env/
ENV/

# Setuptools/distribute and build artifacts
*.egg-info/
*.egg
*.wheel
build/
dist/

# Logs and temporary files
*.log
*.tmp
*.temp

# Test results
.coverage
.tox/
.nox/
.cache/
pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db
* 2.*

# Environment variable files
.env
.env.*

# Package manager files
pip-log.txt
pip-delete-this-directory.txt

# Debug and profiler output
debug.log

# Git metadata
.git/

